@import "~bootstrap-icons/font/bootstrap-icons.css"

.select-wrapper
  background: #fff
  display: flex
  border-radius: 2px
  border-bottom: 1px solid white
  transition: all .3s
  cursor: pointer
  width: 100%
  padding: 5px 10px

  i:before
    content: '\F282'

  &[aria-expanded="true"]
    box-shadow: 0 0 8px 0 rgb(189, 228, 255)

    i:before
      content: '\F286'

  &:hover
    background: #f1f1f1


.select-value
  width: 100%
  align-self: center
  margin: 0
  overflow-x: hidden
  text-overflow: ellipsis
  white-space: nowrap

.dropdown-menu
  max-height: 200px


